
#video-cutter {
 clear: both;
 width: 500px;
 height: 410px;
 padding: 10px 20px;
 -webkit-border-radius: 5px;
 border-radius: 5px;
}

#video-cutter .video-box {
  clear: both;
  height: 350px;
  padding: 0px;
  margin: 0px;
}

#cutter-controls {
  display: block; 
  height: 50px; 
  clear: both;
}

#video-cutter .ui-slider-handle { 
  width: 8px; 
  margin-left: -4px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

#video-cutter .segment-time {
  vertical-align: center; 
  line-height: 22px; 
  padding-right: 5px;
}

#segment-slider {
  margin: 7px 2px 5px 2px;
}

#cutter-task-starter {
  clear: both;
  border-top: 1px solid #C7C2BD;
  width: 500px;
  padding: 10px 20px;
  margin: 20px auto;
}

#cutter-task-starter span.cut-info {
  display: inline-block;
  margin-right: 10px;
  line-height: 24px;
  vertical-align: center;
}

#cutter-task-starter button {
  display: inline-block;
  margin-left: 5px;
}

#cutter-job {
  width: 300px;
  margin: 10px auto;
  text-align: center;
  padding: 10px 20px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: rgba(0,0,0,0.1);
}